<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ghanaianconstitution</string>
			</array>
			<key>CFBundleURLName</key>
			<string>com.t3pixel.constitution.ghanaian</string>
		</dict>
	</array>
	<key>MinimumOSVersion</key>
	<string>13.0</string>
	<key>CFBundleIdentifier</key>
	<string>com.t3pixel.constitution.ghanaian</string>
	<key>DTXcodeBuild</key>
	<string>12A7403</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>CFBundleExecutable</key>
	<string>GhanaianConstitution</string>
	<key>SKAdNetworkItems</key>
	<array>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>cstr6suwn9.skadnetwork</string>
		</dict>
	</array>
	<key>BuildMachineOSBuild</key>
	<string>19H2</string>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon60x60</string>
				<string>AppIcon76x76</string>
			</array>
		</dict>
	</dict>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>UISupportedDevices</key>
	<array>
		<string>iPhone10,1</string>
		<string>iPhone10,4</string>
		<string>iPhone12,8</string>
		<string>iPhone9,1</string>
		<string>iPhone9,3</string>
	</array>
	<key>DTAppStoreToolsBuild</key>
	<string>12B45a</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>CFBundleName</key>
	<string>GhanaianConstitution</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>CFBundleDisplayName</key>
	<string>Ghanaian Constitution</string>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>ITSDRMScheme</key>
	<string>v2</string>
	<key>DTPlatformBuild</key>
	<string>18A8394</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-7900478663163405~5260301556</string>
	<key>DTSDKBuild</key>
	<string>18A8394</string>
	<key>DTXcode</key>
	<string>1210</string>
	<key>DTSDKName</key>
	<string>iphoneos14.1</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>DTPlatformVersion</key>
	<string>14.1</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1.1</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon60x60</string>
			</array>
		</dict>
	</dict>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
</dict>
</plist>